<!--[reference]: https://github.com/typekit/webfontloader -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  var cmbFontConfig = {
    google: {
      families: [
        "Noto Sans KR:300,400,500,700,900",
        "Hind:500,600,700",
        "Roboto Mono:100,300,400,500"
      ]
    },
    active: function() {
      console.log("App Fonts Loaded...");
    },
    inactive: function() {
      console.log("App Fonts Load Err...");
    }
  };
  WebFont.load(cmbFontConfig);
</script>
